<form action="/create" method="POST">
    <h2>Create Todo</h2>

    <div class="input-field">
        <input type="text" name="title" id="title" class="validate">
        <label for="title" class="active">Todo Title</label>
    </div>
    <button type="submit" class="btn">Create</button>

</form>